@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

svg {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
}

.btn {
  cursor: pointer;
}

.btn-active {
  fill: #f60;
}

.btn:hover path:last-child {
  fill: #f60;
  transition: all .5s ease;
}

.lines path {
  stroke-dasharray: 480px;
  stroke-dashoffset: 480px;
}

.lines .draw-lines {
  animation: draw-lines 1s forwards;
}

@keyframes draw-lines {

  0% {
    stroke-dashoffset: 480px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

.engage .letters-in:nth-child(1),
.engage .letters-in:nth-child(6) {
  animation: engage-in .3s .8s ease forwards;
}

.engage .letters-in:nth-child(2),
.engage .letters-in:nth-child(5) {
  animation: engage-in .3s .9s ease forwards;
}

.engage .letters-in:nth-child(3),
.engage .letters-in:nth-child(4) {
  animation: engage-in .3s 1s ease forwards;
}

@keyframes engage-in {

  0% {
    fill: #630;
  }

  100% {
    fill: #f60;
  }

}
